{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages(category_filter=["create_post_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}
<h1>Posts</h1>
<table class="table">
    <tr>
        <th>Post List for {{ date }}</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td>
            <div class="row">
                <div class="col-md-8">
                    <form class='form-inline' method='post' action="{{url_for('.update_post')}}">
                        <input type="text" class='form-control' name="post_update" value="{{ post['post'] }}"/>
                        <i style="font-size: 13px"> feeling </i>
                        <select class='form-control' name='emotion_update'>
                            <option value="Happy" {% if post['emotion']=="Happy" %} selected {% endif %}>Happy</option>
                            <option value="Sad" {% if post['emotion']=="Sad" %} selected {% endif %}>Sad</option>
                            <option value="Angry" {% if post['emotion']=="Angry" %} selected {% endif %}>Angry</option>
                            <option value="Mad" {% if post['emotion']=="Mad" %} selected {% endif %}>Mad</option>
                            <option value="Sleepy" {% if post['emotion']=="Sleepy" %} selected {% endif %}>Sleepy</option>
                        </select>
                        <input name = "u_id" type='hidden' value="{{ post['_id'] }}"/>
                        <button class='btn btn-success' type='submit'><span class="glyphicon glyphicon-pencil"></span> Update</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <form class='form-inline' method='post' action="{{url_for('.delete_post')}}">
                        <input name = "d_id" type='hidden' value="{{ post['_id'] }}"/>
                        <button class='btn btn-danger' type='submit'>X</button>
                    </form>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}

</table>
<h2>Add Post</h2>

<form class='form-inline' method='post' action="{{url_for('.create_post')}}">
    <input class='form-control' type='text' name='new_post' placeholder='Add Post'/>
    <select class='form-control' name='emotion'>
        <option value="Happy">Happy</option>
        <option value="Sad">Sad</option>
        <option value="Angry">Angry</option>
        <option value="Mad">Mad</option>
        <option value="Sleepy">Sleepy</option>
    </select>
    <input class='btn btn-primary' type='submit' />
</form>

{% endblock %}