{% extends "base.html" %}

{% block pagetitle %} Jinja Samples {% endblock %}

{% block content %}

<div class="row">
    <div id='inventory' class="col-md-6"></div>
    <div id='cart' class="col-md-6"></div>
</div>
    
{% endblock %}

{% block jsimports %}

    <script type="text/jsx" src="{{url_for('static', filename='js/samples/9.js')}}"></script>
    <script type="text/jsx">
        React.render(
            <PostBox/>,
            document.getElementById('inventory')
        );
    </script>

{% endblock %}