{% extends "base.html" %}

{% block pagetitle %} Index {% endblock %}

{% block content %}

<script>
    function editForm(name, price, u_id) {
        
        document.getElementById("name").value = name;
        document.getElementById("price").value = price;
        document.getElementById("u_id").value = u_id;
    }
</script>
<div class="row">
    <div class="col-md-4">
    <h1>Inventory</h1>
    <form class='form-group' method='post' action="{{url_for('.inventory_list')}}">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        {% for invent in invents %}
        <tr>
            <td>
    	        {{invent["name"]}}
    	    </td>
    	    <td>
    	    	{{invent["price"]}}
    	    </td>	    
    	    <td>
                <div class="col-md-8">
    	    	  <input type="text" value="0" name="quantity" class="form-control" />
                </div>
    	    </td>
            <td>
                <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-pencil" onclick="editForm('{{invent['name']}}', '{{invent['price']}}','{{invent['_id']}}')"></span></button>
                <!--<button type="button" class="btn btn-danger">x</button>-->
            </td>
        </tr>
        {% endfor %}
        <tr>	    
    	    <td colspan="4">
    	    	<input type="submit" name="submit" value="Add to cart" class="btn btn-primary" />
    	    </td>
        </tr>
        </form>
    </table>
    </div>
    <div class="col-md-4">
    <h1>Cart</h1>
    <form class='form-inline' method='post' action="{{url_for('.delete_purchase')}}">
    <table class="table">
        <tr>
            <th>Item Name</th>
            <th>Price</th>	
        </tr>

        {% for cart in carts %}
        <tr>
            <td>
    	        {{cart["name"]}}
    	    </td>
    	    <td>
    	    	{{cart["price"]}}
    	    </td>
        </tr>
        {% endfor %}
        <tr>	    
    	    <td colspan="3">
    	    	<input type="submit" name="submit" value="Purchase" class="btn btn-primary" />
    	    </td>
        </tr>
    </table>
    </form>
    </div>

    <div class="col-md-4">
    <h1>History</h1>
    <table class="table">
        <tr>
            <th>Item Name</th>
            <th>Price</th>  
        </tr>

        {% for history in histories %}
        <tr>
            <td>
                {{history["name"]}}
            </td>
            <td>
                {{history["price"]}}
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>

</div>
<div class="row">
<div class="col-md-6">
    <h3>Update Item</h3>
    <form class='form-inline' method='post' action="{{url_for('.update_invent')}}">
        <input class='form-control' type='text' name='name' id="name" placeholder='Item name'/>
        <input class='form-control' type='text' name='price' id = "price" placeholder='Item price'/>
        <input class='form-control' type='hidden' name='u_id' id = "u_id"/>
        <button class='btn btn-success' type='submit'>Update Item</button>
    </form>
</div>
<div class="col-md-6">
<h3>Add Item</h3>
<form class='form-inline' method='post' action="{{url_for('.add_invent')}}">
    <input class='form-control' type='text' name='name' placeholder='Item name'/>
    <input class='form-control' type='text' name='price' placeholder='Item price'/>
    <button class='btn btn-primary' type='submit'>Add Item</button>
</form>
</div>
</div>
{% endblock %}